<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Активация аккаунта</title>
</head>
<body>
    <h2>Здравствуйте, {{ user.username }}!</h2>
    <p>Спасибо за регистрацию на сайте СмаевПит.</p>
    <p>Для активации вашего аккаунта, пожалуйста, перейдите по следующей ссылке:</p>
    <p>
        <a href="http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}">
            Активировать аккаунт
        </a>
    </p>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
    <hr>
    <p>С уважением,<br>Команда СмаевПит</p>
</body>
</html> 