{% extends 'base.html' %}

{% block title %}О нас - СмаевПит{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">О нас</h1>
    
    <div class="row">
        <div class="col-md-8">
            <h2>Добро пожаловать в СмаевПит!</h2>
            <p>Мы - ваш надежный партнер в мире спортивного питания и добавок. Наша миссия - помочь вам достичь ваших фитнес-целей, предлагая только качественные и проверенные продукты от ведущих мировых брендов.</p>
            <p>В нашем ассортименте вы найдете все необходимое для:</p>
            <ul>
                <li>Набора мышечной массы</li>
                <li>Похудения и сушки</li>
                <li>Повышения выносливости и силы</li>
                <li>Восстановления после тренировок</li>
                <li>Поддержания общего здоровья и тонуса</li>
            </ul>
            <p>Наша команда состоит из энтузиастов здорового образа жизни и экспертов в области спортивного питания, которые всегда готовы проконсультировать вас и помочь с выбором оптимальных продуктов.</p>
            <p>Мы ценим каждого клиента и стремимся предоставить лучший сервис, быструю доставку и конкурентные цены.</p>
        </div>
    </div>

    <div class="mt-5">
        <h3>Наши преимущества</h3>
        <ul>
            <li>Широкий ассортимент продукции</li>
            <li>Только сертифицированные товары</li>
            <li>Консультации специалистов</li>
            <li>Быстрая доставка по всей стране</li>
            <li>Выгодные цены и акции</li>
        </ul>
    </div>
</div>
{% endblock %} 